@{
    ViewData["Title"] = Localizer["Toegang geweigerd"];
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">@Localizer["U hebt geen toegang tot deze pagina"]</p>
</header>
