
@{
    ViewData["Title"] = Localizer["Bestelling opgeslagen"];
}

<div class="w-100 h-100">
    <div class="d-flex justify-content-center align-items-center w-100 h-100">
        <div class="d-block">
            <h1 class="text-center text-success text-uppercase"><i class="fas fa-check"></i> @ViewData["Title"]</h1>
        </div>
        <div class="d-block">
            <a href="#" class="btn btn-outline-primary"><i class="fas fa-home"></i> @Localizer["Naar het startscherm"]</a>
        </div>
    </div>
</div>

